<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Booths</title>
    <link href="css/footer.css" rel="stylesheet">

</head>
<body>
    <div class="about-container">
        <h1 class="about-header">About Booths</h1>
        <div class="about-content">
            <p>Booths is a planned platform that would serve as a link between companies searching for in-house cafeterias and well-established cafes looking for new sites. The project's goal is to simplify the process of linking cafeterias and companies, avoiding the inconvenience of individual searches and discussions. Booths will provide a one-stop solution for cafes to identify suitable corporate locations to set up their outlets, while corporations will be able to easily find trustworthy and well-known cafes to serve their employees.</p>
        </div>
        <a href="/homePage" class="home-link">Return to Home</a>
    </div>
</body>
</html>
