<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Booths</title>
    <link href="css/footer.css" rel="stylesheet">

</head>
<body>
    <!-- Header -->
    <header>
        <!-- Your header here -->
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <h1>Privacy Policy</h1>
            <p>Effective date: [Date]</p>
            <h2>1. Collection of Personal Information</h2>
            <p>At Booths, we collect the following personal information from you:</p>
            <ul>
                <li>Email Address: To create and manage your user account.</li>
                <li>Password: To secure your user account and keep your information safe.</li>
            </ul>
            
            <h2>2. How We Use Your Information</h2>
            <p>We use your personal information solely for providing and improving our service to you. By using Booths, you agree to the collection and use of information in accordance with this policy.</p>
            
            <h2>3. Security of Your Personal Information</h2>
            <p>We value your trust in providing us your personal information and thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
            
            <h2>4. Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>
            
            <h2>5. Contact Us</h2>
            <p>If you have any questions about our Privacy Policy, do not hesitate to contact us at [Email Address].</p>
        </div>
        <a href="/homePage" class="home-link">Return to Home</a>
    </main>

</body>
</html>
