<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <!-- Popper.js and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/homePage.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain-like Page</title>
</head>
<body >
    <!--nave bar -->
    <header>
      <nav class="navbar navbar-expand-lg fixed-top header_bg ">
        <div class="collapse navbar-collapse justify-content-around">
          
          <a class="navbar-brand" href="#">
            <img class="nav-link" src="images/logo-no-background.png" alt="Logo" width="100" height="60">
          </a>
          <ul class="navbar-nav ">
            <li class="nav-item" >
              <a class="nav-link"  aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fav">FAVOURITE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_adds">MY ADS</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN/REGISTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOG OUT</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container_top">
      <div class="container row">
        <div class="col">
          <div class="row">
            <div class="col-auto p-3">
              <div class="card" style="width: 17rem;">
                <img src="images/coffee.avif" class="card-img-top" alt="/images/add.png">
                <div class="card-body">
                  <h5 class="card-title">Faculty Cafe</h5>
                  <ul>
                    <li><p class="card-text">price: 3900</p></li>
                    <li><p class="card-text">location: Dammam</p></li>
                  </ul>
                  <a href="/ad"><button>GO</button></a>
                </div>
              </div>
            </div>
            <div class="col-auto p-3">
              <div class="card" style="width: 17rem;">
                <img src="images/coffee.avif" class="card-img-top" alt="/images/add.png">
                <div class="card-body">
                  <h5 class="card-title">Student Cafe</h5>
                  <ul>
                    <li><p class="card-text">price: 2800</p></li>
                    <li><p class="card-text">location: Khobar</p></li>
                  </ul>
                  <a href="/ad"><button>GO</button></a>
                </div>
              </div>
            </div>
    </section>


      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>company</h4>
              <ul>
                <li><a href="/about_us">about us</a></li>
                <li><a href="/our_services">our services</a></li>
                <li><a href="/privacy">privacy policy</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="/contact_us">contact us</a></li>
                <li><a href="/Frequently_Asked_Questions">Frequently Asked Questions</a></li>
                <li><a href="/Terms">Terms of Service and User Guides</a>
              </ul>
            </div>
            <div class="footer-col">
              <h4>featured</h4>
              <ul>
                <li><a href="/Special_Offers_Page">Special Offers Page</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
    
    
    </body>
    
    </html>